body {
  margin: 100px auto;
  font-family: Helvetica, sans-serif;
  background: #fff url(images/space.svg);
  background-blend-mode: multiply;
}

a {
  color: #222;
}

.active {
    background-color: #f4f4f4;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  margin-top: -100px;
  width: 100%;
  opacity: 0.98;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li:not(:last-child) a {
  border-right: 1px solid #f4f4f4;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #e4e4e4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  color: #555;
  font-weight: bold;
  padding: 10px 20px;
  user-select: none;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: 0.55s;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}

.container {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  margin: 0 auto;
  max-width: 1680px;
  padding: 20px;
  font-size: 22px;
  color: #444;
}

.container .content-header{
    display: inline;
    background: none;
    box-shadow: none;
    text-align: center;
    
}

/*            */
/*   Mobile   */
/*            */

.container .mimg {
    display: inline-block;
    text-align: center;
    max-width: 100%;
    
}

.container .content-container {
   display: inline;
}

/*            */
/* Widescreen */
/*            */

.container .content{
  display: inline;
  width: 100%;
  float: left;
}

.container .sidebar{
  width: 100%;
  float: left;
  display: none;
}


/*            */
/*   Media    */
/*            */


@media (min-width: 1000px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    display: flex;
    justify-content: center;
    margin-right: 105px;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .container .content-header {    
    text-align: left;
  }
}

@media (min-width: 1515px) {
  .container .sidebar img {
    max-width: 100%;
    display: inherit;
    float: right;
  }
  .container .mimg {
    display: none;
  }
  .container .content-container {
    display: flex;
  }
  .container .content {
    width: 60%;
  }
  .container .sidebar {
    width: 40%;
    display: block;
  }
}